AddDefaultCharset UTF-8

RewriteEngine On
RewriteRule user_proxy$ https://betastream.twitter.com/2b/user.json?%{QUERY_STRING} [proxy]
RewriteRule sample_proxy$ http://stream.twitter.com/1/statuses/sample.json?%{QUERY_STRING} [proxy]
RewriteRule statuses_update_proxy$ https://api.twitter.com/1/statuses/update.json [proxy]
RewriteRule home_timeline_proxy$ https://api.twitter.com/1/statuses/home_timeline.json [proxy]

