var accessor = {
    token: "INSERT_USER_TOKEN_HERE",
    tokenSecret: "INSERT_USER_TOKEN_SECRET_HERE",
    consumerKey: "INSERT_CONSUMER_TOKEN_HERE",
    consumerSecret: "INSERT_CONSUMER_SECRET_TOKEN_HERE"
}

var places = [
    {name:"--leer--",     lat:0.0000000, lon:0.000000},
    {name:"sweetSixteen", lat:51.52212,  lon:7.45281,  place_id:"c0ca217810f379fa"}, // "sweetSixteen"
];

var chars = new Array("™", "☹", "☺", "☠", "☐", "☑", "♻", "⚠", "♫", "⋘", "⋙", "⍨", "⊙▂⊙", "⨀_⨀", "┌∩┐");
var tweetSeperator = "<|>";
var tweetSeperatorPrefix = "« ";
var tweetSeperatorSuffix = " »";

var delay = 2;
var mindelay = 2;
var maxPages = 2;
var maxdelay = 160;

// Show an error message if no place is set.
var error_if_no_place_set = true;

