body {
    margin: 0px;
    background-color: #fff;
}

body, textarea {
    font-family: sans-serif;
    font-size: 12px;
}

img {
    border: none;
}

textarea, input, select {
    border: 1px solid black;
}

#top {
    position: fixed;
    z-index: 100;
    background-color: #fff;
    width: 100%;
}

#content {
    padding-top: 160px;
}

.poster, .poster a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.tweet, .dm, .status {
    position: relative;
    border-top: 1px solid #555;
    clear: both;
    min-height: 30px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dm {
    background-color: #fc0;
}

.status {
    background-color: #f6f;
}

.tweet.by_this_user {
    background-color: #afa !important;
}

.tweet.new {
    background-color: #fdd;
}

.tweet.mentions_this_user {
    background-color: #ddf;
}

.avatar{
    display: block;
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    padding-right: 3px;
}

.user_avatar {
    width: 30px;
    height: 30px;
    border: none;
}

.retweeter_avatar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 15px;
    height: 15px;
    -moz-box-shadow: #aaa -2px -2px 7px;
}

.place, .retweet_info {
    color: #333;
    font-size: 8px;
}

.retweet_info a {
    color: #333 !important;
    text-decoration: none !important;
}

.links, .links a {
    color: #000;
}

#chars {
    font-size: 15px;
    display: none;
}

#chars a {
    text-decoration: none;
    color: #000;
}

#form_area {
    position: relative;
    margin-right: 10px;
}

#counter {
    float: right;
    font-size: 18px;
}

#success, #failure {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    display: none;
}

#text {
    width: 100%;
}

#buttonbar img {
    border-width: 1px;
    border-style: solid;
    border-color: #eee #666 #666 #eee;
    background-color: #ccc;
    margin: 5px 0px 3px 3px;
}

#buttonbar img:hover {
    border-color: #666 #eee #eee #666 !important;
}

#buttonbar {
    background-color: #ccc;
}

#reply_warning {
    background-color: yellow;
    display: none;
}

.tweet .overlay,
.dm .overlay {
    font-size: 8px;
    width: 100%;
    display: none;
    text-decoration: none !important;
    color: #333 !important;
}

.tweet:hover .overlay,
.dm:hover .overlay {
    display: block;
}

.overlay a {
    text-decoration: none;
    color: #333;
}

#status.green {
    background-color: #0f0;
}

#status.orange {
    background-color: #fc0;
}

#status.yellow {
    background-color: #ff0;
}

#status.red {
    background-color: #f00;
}

#replies {
    display: none;
    z-index: 105;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.tooltip_info {
    display: none;
}

#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #eee;
    padding: 5px;
    opacity: 0.85;
}

#tooltip h3, #tooltip div {
    margin: 0;
}

